<h1> Welcome to Ask Me Anything </h1>

<p>Thirst for knowledge.</p>
<hr>

<h2> Questions Posted </h2>
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
