<h1> Welcome to Ask Me Anything </h1>

<p>Thirst for knowledge.</p>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
